.user-detail:hover img {
  transform: scale(1.1);
}

.user-detail img {
  transition: all 1s ease;
}

.link {
  color: #000000;
  border-bottom: 3px solid #ff0000;
  font-weight: 700;
}

.custom-shadow {
  box-shadow: 2px 2px 12px -3px #000000;
}
